apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-svc
spec:
  clusterIP: None
  selector:    
      component: rabbitmq
  ports:
  - port: 15672
    targetPort: 5020
    name: 'mgmt'
  - port: 5672
    targetPort: 5672
    name: 'connections'

              